In [41]:
import pandas as pd

###Create Dataframe

In [42]:
data = {'id':[1,2,3,4,5,6],
        'name':['John', 'Andy', 'Tom', 'Jimmy', 'Laura', 'Bob'],
        'mail':['john_123@yahoo.com',
                'Andy.321@gmail.com',
                'tom.909@hotmail.com',
                'JIMMY@HOTMAIL.COM',
                'laura@gmail.com',
                'BOB_999@GMAIL.COM']}

In [43]:
df = pd.DataFrame(data)

In [44]:
df.head()

   id   name                 mail
0   1   John   john_123@yahoo.com
1   2   Andy   Andy.321@gmail.com
2   3    Tom  tom.909@hotmail.com
3   4  Jimmy    JIMMY@HOTMAIL.COM
4   5  Laura      laura@gmail.com

###Create New Column by Mail Type

In [45]:
email_type = ['yahoo', 'gmail', 'hotmail']

In [46]:
pattern = '|'.join(email_type)

df.insert(3,'emailType', df['mail'].str.lower().str.extract( '('+pattern+')', expand=False))

In [47]:
df.head()

   id   name                 mail emailType
0   1   John   john_123@yahoo.com     yahoo
1   2   Andy   Andy.321@gmail.com     gmail
2   3    Tom  tom.909@hotmail.com   hotmail
3   4  Jimmy    JIMMY@HOTMAIL.COM   hotmail
4   5  Laura      laura@gmail.com     gmail

###Create New Column as Username

For example we want to create a username column by taking their mail name.

In [48]:
df.insert(3, 'username', df['mail'].str.lower().str.split('@').str[0])

In [49]:
df.head()

   id   name                 mail  username emailType
0   1   John   john_123@yahoo.com  john_123     yahoo
1   2   Andy   Andy.321@gmail.com  andy.321     gmail
2   3    Tom  tom.909@hotmail.com   tom.909   hotmail
3   4  Jimmy    JIMMY@HOTMAIL.COM     jimmy   hotmail
4   5  Laura      laura@gmail.com     laura     gmail

If we don't want to use special character such as "." and "_", we can remove it like this:

In [50]:
df['username_new'] = df['username'].str.replace('.', '').str.replace('_','')

In [51]:
df.head()

   id   name                 mail  username emailType username_new
0   1   John   john_123@yahoo.com  john_123     yahoo      john123
1   2   Andy   Andy.321@gmail.com  andy.321     gmail      andy321
2   3    Tom  tom.909@hotmail.com   tom.909   hotmail       tom909
3   4  Jimmy    JIMMY@HOTMAIL.COM     jimmy   hotmail        jimmy
4   5  Laura      laura@gmail.com     laura     gmail        laura